### Trabalho Final - Escolha da Base
#### Aprendizado de Máquina - ICP363

**Prof:** João Carlos

**Alunos:** Eduardo Monteiro, Erick Gaiote, Henrique Cardoso

In [1]:
import re
import pandas
import nltk
import seaborn as sns
import matplotlib

In [2]:
df = pandas.read_csv('dados/bible.csv')
df.head()

,book,chapter,versicle,text
0,Genesis,1,1,In the beginning God created the heaven and th...
1,Genesis,1,2,"And the earth was without form, and void and d..."
2,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,Genesis,1,5,"And God called the light Day, and the darkness..."

In [ ]:
df.groupby('book').count().sort_values('chapter') #quantidade de versiculos por livro!

In [ ]:
df.groupby('book').count().plot.pie(y='versicle',figsize=(10,10),autopct='%.0f%%') #plota quantidade a participação total de versiculos por livro

In [55]:
df['text_len'] = df['text'].astype('string').str.len() #guarda tamanho de cada string

In [ ]:
df.groupby('book')['text_len'].sum().plot.pie(y='text_len',figsize=(10,10),autopct='%.0f%%') #printa tamanho de texto por livro

In [ ]:
Q1 = df['text_len'].quantile(0.25)
Q3 = df['text_len'].quantile(0.75)
IQR = Q3 - Q1

# df.text.astype("string").str.len().plot.box() #boxplot

In [ ]:
df['text_len'].describe() #descrever tamanho do texto!

In [ ]:
((df['text_len'] < (Q1 - 1.5 * IQR)) | (df['text_len'] > (Q3 + 1.5 * IQR))).sum() #quantidade de outliers!

In [ ]:
sns.boxplot(df['text_len'])

In [59]:
from nltk.corpus import stopwords
stop = set(stopwords.words('english')) # removing stopwords

In [76]:
def remove_stopwords(text):
    words = nltk.word_tokenize(text.lower())
    return ' '.join([x for x in words if x not in stop and x.isalpha()])

In [77]:
df['filtered_text'] = df['text'].astype('string').apply(remove_stopwords)

In [ ]:
#palavras mais comuns!
import collections
word_counts = collections.Counter([word.lower() for words in df['text'] for word in words.split()])
word_counts.most_common(20)

In [ ]:
count_real_words = collections.Counter([word for words in df['filtered_text'] for word in words.split()])
count_real_words.most_common(20)